*{
    background-color:linear-gradient(to right, #faf9f5 0%, #faf9f5 100%);
    margin-left: 0px;
    margin-right:0px;
    border: 0px;
}
body {
    margin: 0;
}
h1{
    text-align: center;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: rgb(96, 9, 9);
}
ul {
  list-style-type: none;
  padding-left:10px; 
}
li::before {
  content: "⁠♡";       
  margin-right: 8px;  
}
a{
    color:rgb(28, 21, 28);
    text-decoration: none;
    line-height: 2;
    font-size: 18px;
}
a:hover{
    color:brown;
    
}
footer{
    margin:0px;
    border:2px solid rgb(110, 64, 4);
    background-color: rgb(110, 64, 4);
    color:rgb(201, 177, 177);
    text-align: center;
    margin-top: 22.95rem;
    font-family:cursive;
    
}
.recipe_list{
    margin-top: 100px;

}